<!DOCTYPE html>
<html lang="pt-BR" ng-app="ucandidate-web">
<head>
  <meta charset="UTF-8">
  <title>uCandidate by ronanrodrigo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <!-- bower:css -->
  <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
  <link rel='stylesheet' href='bower_components/bootstrap-sweetalert/lib/sweet-alert.css' />
  <!-- endbower -->
  <link rel='stylesheet' href='stylesheets/ucandidate-web.css' />
</head>
<body>
  <div class="container-fluid" ng-controller="CandidateCtrl as ctrl">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="row">
      
        <form class="panel panel-default" ng-submit="candidateForm.$valid && ctrl.submit()" name="candidateForm">
            <div class="panel-body">
              Informe seu nome e e-mail nos respectivos campos abaixo. Após isso, informe o seu nível de conhecimento de 0 á 10 nos assuntos listados. Sendo 0 para sem conhecimento e 10 para especialista.
            </div>
            <div class="list-group">
              <div class="list-group-item">
                <div class="row">
                  <div class="form-group col-sm-6" ng-class="{'has-error' : candidateForm.candidateName.$invalid && candidateForm.candidateName.$touched}">
                    <label class="control-label required" for="candidate-name">Nome</label>
                    <input type="text" class="form-control" id="candidateName" name="candidateName" placeholder="Digite seu nome" ng-model="ctrl.candidate.name" required>
                  </div>
                  <div class="form-group col-sm-6" ng-class="{'has-error' : candidateForm.candidateEmail.$invalid && candidateForm.candidateEmail.$touched}">
                    <label class="control-label required" for="candidate-email">Email</label>
                    <input type="email" class="form-control" id="candidateEmail" name="candidateEmail" placeholder="e seu email" ng-model="ctrl.candidate.email" required>
                  </div>
                </div>
              </div>

              <div class="list-group-item" ng-repeat="(level, data) in ctrl.candidate.knowledges_attributes">
                <div class="form-group" ng-class="{'has-error' : candidateForm.candidateKnowledges{{data.item | trim}}.$invalid}">
                  <input type="number" min="0" max="10" class="form-control" id="candidateKnowledges{{data.item | trim}}" name="candidateKnowledges{{data.item | trim}}" placeholder="{{data.item}}" ng-model="data.level" >
                  <span class="help-block" ng-show="candidateForm.candidateKnowledges{{data.item | trim}}.$invalid">O valor informado deve ser um número entre 0 e 10.</span>
                </div>
              </div>
            </div>

            <div class="panel-footer">
              <input type="submit" class="btn btn-primary" value="Enviar">
            </div>
        </form>

      </div>
    </div>
  </div>

  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap-sweetalert/lib/sweet-alert.js"></script>
  <script src="bower_components/nanobar/nanobar.js"></script>
  <!-- endbower -->
  <script type="text/javascript" src="javascripts/ucandidate-web.js"></script>
  <script type="text/javascript" src="javascripts/google.js"></script>
</body>
</html>

